<div class="primary-background">
  <!-- Main Header -->
  <div class="main-header d-flex justify-content-between align-items-center">
    <h1>Organic Bedding Solutions</h1>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="category-search" class="col-form-label">Search By Category</label>
      </div>
      <div class="col-auto">
        <select id="category-search" class="form-select" aria-label="Select Category" [(ngModel)]="searchCategory"
          (change)="onSearchCategory()">
          <option selected>Choose</option>
          @for (category of categoryList | async; track $index) {
          @if (category.status == true) {
          <option [value]="category.name">{{ category.name }}</option>
          }
          }
        </select>
      </div>
    </div>
  </div>
  <div>
    <!-- Welcome Message -->
    <div class="d-flex justify-content-center align-items-center m-4">
      <h4>Welcome, <span *ngIf="authService.getCurrentUser() as user">{{ user.email || user.uid }}</span>!</h4>
    </div>

    <!-- Admin Actions -->
    <div class="d-flex justify-content-between align-items-center ms-5 me-5">
      <div>
        <!-- Add Product Button -->
        <button type="button" class="btn btn-primary me-1 ms-1 mt-1" data-bs-toggle="modal"
          data-bs-target="#addProductModal">Add Product</button>
        <!-- Manage Category Button -->
        <button type="button" class="btn btn-primary me-1 ms-1 mt-1" data-bs-toggle="modal"
          data-bs-target="#manageCategoryModal" (click)="initializeCategory()">Manage Category</button>
        <!-- Manage User Button -->
        <button type="button" class="btn btn-primary me-1 ms-1 mt-1" data-bs-toggle="modal" data-bs-target="#manageUserModal"
          (click)="initializeUser()">Manage User</button>
      </div>
      <button class="btn btn-primary ms-2 mt-1" (click)="logout()">Logout</button>
    </div>

    <!-- Manage Category Modal -->
    <div class="modal fade" id="manageCategoryModal" tabindex="-1" aria-labelledby="manageCategoryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-primary fs-5" id="manageCategoryModalLabel">Manage Category</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <label for="addCategoryName" class="form-label text-dark">Category Name</label>
              <input id="addCategoryName" class="form-control mb-2" type="text" placeholder="Category Name"
                aria-label="Category Name" [(ngModel)]="newCategory.name">
              <label for="addCategoryStatus" class="form-label text-dark">Category Status</label>
              <select id="addCategoryStatus" class="form-select mb-2" aria-label="Select Category Status"
                [(ngModel)]="newCategory.status">
                <!-- <option selected>Choose Category Status</option> -->
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
              <button type="button" class="btn btn-primary" (click)="addNewCategory()">Add Category</button>
            </div>
            <hr />
            @for (category of categoryList | async; track $index) {
            <div class="custom-yellow-card">
              <label for="replaceCategoryName${{$index}}" class="form-label text-dark">Category Name</label>
              <input id="replaceCategoryName${{$index}}" type="text" class="form-control me-2 mb-2"
                placeholder="Replace Category Name" aria-label="Replace Category Name" [(ngModel)]="category.name"
                [disabled]="editingCategory !== category.id">
              <label for="replaceCategoryStatus${{$index}}" class="form-label text-dark">Category Status</label>
              <select id="replaceCategoryStatus${{$index}}" class="form-select me-2 mb-2"
                aria-label="Select Category Status" [(ngModel)]="category.status"
                [disabled]="editingCategory !== category.id">
                <option selected>Choose Category Status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
              <input type="button" class="btn btn-danger me-2 mb-1" (click)="deleteCategory(category.id!)"
                value="Delete Category">
              @if (editingCategory === category.id) {
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="cancelEditCategory()"
                value="Cancel Update">
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="updateCategory(category)"
                value="Update Category">
              }
              @if (editingCategory !== category.id) {
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="editCategory(category.id!)"
                value="Edit Category">
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Manage User Modal -->
    <div class="modal fade" id="manageUserModal" tabindex="-1" aria-labelledby="manageUserModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-primary fs-5" id="manageUserModalLabel">Manage User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <label for="addUserEmail" class="form-label text-dark">Email Address</label>
              <input id="addUserEmail" class="form-control mb-2" type="email" placeholder="User Email ID"
                aria-label="User Email ID" [(ngModel)]="newUser.emailID">
              <label for="addUserPhoneNumber" class="form-label text-dark">Phone Number</label>
              <input id="addUserPhoneNumber" class="form-control mb-2" type="tel" placeholder="User Phone Number"
                aria-label="User Phone Number" [(ngModel)]="newUser.phoneNumber">
              <button type="button" class="btn btn-primary" (click)="addNewUser()">Add User</button>
            </div>
            <hr />
            @for (user of userList | async; track $index) {
            <div class="custom-yellow-card">
              <label for="updateUserEmail${{$index}}" class="form-label text-dark">Email Address</label>
              <input id="updateUserEmail${{$index}}" type="text" class="form-control me-2 mb-2"
                placeholder="Update User Email ID" aria-label="Update User Email ID" [(ngModel)]="user.emailID"
                [disabled]="editingUser !== user.id">
              <label for="updateUserPhoneNumber${{$index}}" class="form-label text-dark">Phone Number</label>
              <input id="updateUserPhoneNumber${{$index}}" type="text" class="form-control me-2 mb-2"
                placeholder="Update User Phone Number" aria-label="Update User Phone Number"
                [(ngModel)]="user.phoneNumber" [disabled]="editingUser !== user.id">
              <input type="button" class="btn btn-danger me-2 mb-1" (click)="deleteUser(user.id!)" value="Delete User">
              @if (editingUser === user.id) {
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="cancelEditUser()" value="Cancel Update">
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="updateUser(user)" value="Update User">
              }
              @if (editingUser !== user.id) {
              <input type="button" class="btn btn-primary me-2 mb-1" (click)="editUser(user.id!)" value="Edit User">
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Add Product Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-primary fs-5" id="addProductModalLabel">Add Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="productName" class="form-label text-dark">Product Name</label>
            <input id="productName" class="form-control mb-2" type="text" placeholder="Product Name"
              aria-label="Product Name" [(ngModel)]="newProduct.productName">
            <label for="productCategory" class="form-label text-dark">Product Category</label>
            <select id="productCategory" class="form-select mb-2" aria-label="Select Category"
              [(ngModel)]="newProduct.category">
              <option selected disabled value="">Select Category</option>
              @for (category of categoryList | async; track $index) {
              @if (category.status == true) {
              <option [value]="category.name">{{ category.name }}</option>
              }
              }
            </select>
            <label for="productDescription" class="form-label text-dark">Product Description</label>
            <textarea id="productDescription" class="form-control mb-2" placeholder="Description"
              aria-label="Product Description" [(ngModel)]="newProduct.description"></textarea>
            <label for="productImageCount" class="form-label text-dark">Product Images</label>
            <input id="productImageCount" class="form-control mb-2" type="number" placeholder="Number of Images"
              aria-label="Number of Images" [(ngModel)]="numberOfImages">
            <button type="button" class="btn btn-primary" (click)="prepareImageInputs()">Prepare Image Inputs</button>
            @if (imageInputs.length > 0) {
            <div>
              <h4 class="text-center">Add Images</h4>
              @for (input of imageInputs; track $index) {
              <div>
                <label for="imageInput{{$index}}" class="form-label text-dark">Upload Image {{$index + 1}}</label>
                <input id="imageInput{{$index}}" class="form-control mb-2" type="file" aria-label="Upload Image"
                  (change)="onFileSelected($index, $event)">
                <!-- <label for="imageSequence{{$index}}" class="form-label text-dark">Enter Image Sequence</label>
                <input id="imageSequence{{$index}}" class="form-control mb-2" type="number" placeholder="Image Sequence" aria-label="Image Sequence"
                  [(ngModel)]="imageSequences[$index]"> -->
              </div>
              }
            </div>
            }
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            @if (imageInputs.length > 0) {
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addProduct()">Add
              Product</button>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Search Bar -->
    <div class="d-flex justify-content-center align-items-center mt-4 me-5 ms-5">
      <div class="input-group">
        <input type="text" class="form-control" id="search-input" placeholder="Search for products..."
          aria-label="Search" [(ngModel)]="searchTerm" (input)="onSearch()">
        <button type="button" class="btn btn-outline-primary" (click)="onSearch()" value="Search" title="Search"><i
            class="bi bi-search"></i></button>
      </div>
    </div>

    <!-- Product List -->
    <div class="d-flex justify-content-center align-items-center mb-4 me-5 ms-5">
      <ul class="p-4 list-unstyled d-flex flex-wrap gap-2 justify-content-center align-items-center">
        @for (product of products | async; track $index) {
        <li>
          <div class="card" style="width: 18rem;">
            <div id="carousel{{ $index }}" class="carousel slide">
              <div class="carousel-inner">
                @for (img of product.images; track $index) {
                @if ($index === 0) {
                <div class="carousel-item active image-container">
                  <img [src]="img" class="d-block contained-image" alt="Product Image {{ $index + 1 }}">
                </div>
                }
                @else {
                <div class="carousel-item image-container">
                  <img [src]="img" class="d-block contained-image" alt="Product Image {{ $index + 1 }}">
                </div>
                }
                }
              </div>
              @if (product.images.length > 1) {
              <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{ $index }}"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon custom-dark-black" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{ $index }}"
                data-bs-slide="next">
                <span class="carousel-control-next-icon custom-dark-black" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              }
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.productName }} | {{product.category}}</h5>
              <!-- <p class="card-text">{{ product.description }}</p> -->
              <!-- View Product Modal Button -->
              <button type="button" class="btn btn-primary" (click)="viewProductDetails(product)" data-bs-toggle="modal"
                data-bs-target="#viewProductModal">View More...</button>
              <!-- Edit Product Button -->
              <button type="button" class="btn btn-primary me-1 ms-1" (click)="editProduct(product)"
                data-bs-toggle="modal" data-bs-target="#editProductModal">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id!)">Delete</button>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>

    <!-- Edit Product Modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          @if (editingProduct) {
          <div class="modal-header">
            <h1 class="modal-title text-primary fs-5" id="editProductModalLabel">Edit Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="editProductName" class="form-label text-dark">Product Name</label>
            <input id="editProductName" type="text" class="form-control mb-2" aria-label="Product Name"
              [(ngModel)]="editingProduct.productName">
            <label for="editProductCategory" class="form-label text-dark">Product Category</label>
            <select id="editProductCategory" class="form-select mb-2" aria-label="Select Category"
              [(ngModel)]="editingProduct.category">
              @for (category of categoryList | async; track $index) {
              @if (category.status == true) {
              <option [value]="category.name">{{ category.name }}</option>
              }
              }
            </select>
            <label for="editProductDescription" class="form-label text-dark">Product Description</label>
            <textarea id="editProductDescription" class="form-control mb-2" aria-label="Product Description"
              [(ngModel)]="editingProduct.description"></textarea>
            <span class="text-dark">Product Images</span>
            <div class="d-flex justify-content-center align-items-center mb-1 flex-wrap">
              @for (img of editingProduct.images; track $index) {
              <div class="image-container p-2">
                <img [src]="img" class="contained-image" alt="Product Image {{ $index + 1 }}">
              </div>
              }
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelEdit()">Cancel
              Edit</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateProduct()">Update
              Product</button>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- View Product Modal -->
    <div class="custom-full-screen-modal">
      <div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-primary fs-5" id="viewProductModalLabel">Product Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card">
                @if(showViewProductDetails){
                <div id="carousel-view-product" class="carousel slide">
                  <div class="carousel-inner">
                    @for (img of productDetails.images; track $index) {
                    @if ($index === 0) {
                    <div class="carousel-item active view-prouct-image-container">
                      <img [src]="img" class="d-block view-prouct-contained-image" alt="Product Image {{ $index + 1 }}">
                    </div>
                    }
                    @else {
                    <div class="carousel-item view-prouct-image-container">
                      <img [src]="img" class="d-block view-prouct-contained-image" alt="Product Image {{ $index + 1 }}">
                    </div>
                    }
                    }
                  </div>
                  @if (productDetails.images.length > 1) {
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-view-product"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon custom-dark-black" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-view-product"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon custom-dark-black" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  }
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ productDetails.productName }} | {{productDetails.category}}</h5>
                  <p class="card-text">{{ productDetails.description }}</p>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>