<!-- <router-outlet /> -->
<div class="d-flex flex-column min-vh-100 primary-background">
    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>
    <footer>
        <section class="main-footer">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h2>Contact Us</h2>
                <p class="no-margin">Phone Number: +91 123-456-7890</p>
                <p class="no-margin">{{ 'Email ID: organicbeddingsolutions@gmail.com' }}</p>
            </div>
        </section>
    </footer>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fffff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Please wait... </p>
</ngx-spinner>