<div class="primary-background">
    <!-- Main Header -->
    <div class="main-header d-flex justify-content-between align-items-center">
        <h1>Organic Bedding Solutions</h1>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="category-search" class="col-form-label">Search By Category</label>
            </div>
            <div class="col-auto">
                <select id="category-search" class="form-select" aria-label="Select Category"
                    [(ngModel)]="searchCategory" (change)="onSearchCategory()">
                    <option selected>Choose</option>
                    @for (category of categoryList | async; track $index) {
                    @if(category.status == true) {
                    <option [value]="category.name">{{ category.name }}</option>
                    }
                    }
                </select>
            </div>
        </div>
    </div>
    <!-- Search Bar -->
    <div class="d-flex justify-content-center align-items-center mt-4 me-5 ms-5">
        <div class="input-group">
            <input type="text" class="form-control" id="search-input" placeholder="Search for products..."
                aria-label="Search" [(ngModel)]="searchTerm" (input)="onSearch()">
            <button type="button" class="btn btn-outline-primary" (click)="onSearch()"><i
                    class="bi bi-search"></i></button>
        </div>
    </div>
    <!-- Product List -->
    <div class="d-flex justify-content-center align-items-center mb-4 me-5 ms-5">
        <ul class="p-4 list-unstyled d-flex flex-wrap gap-2 justify-content-center align-items-center">
            @for (product of products | async; track $index) {
            <li>
                <div class="card" style="width: 18rem;">
                    <div id="carousel{{ $index }}" class="carousel slide">
                        <div class="carousel-inner">
                            @for (img of product.images; track $index) {
                            @if ($index === 0) {
                            <div class="carousel-item active image-container">
                                <img [src]="img" class="d-block contained-image" alt="Product Image {{ $index + 1 }}">
                            </div>
                            }
                            @else {
                            <div class="carousel-item image-container">
                                <img [src]="img" class="d-block contained-image" alt="Product Image {{ $index + 1 }}">
                            </div>
                            }
                            }
                        </div>
                        @if (product.images.length > 1) {
                        <button class="carousel-control-prev" type="button" attr.data-bs-target="#carousel{{ $index }}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon custom-dark-black" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" attr.data-bs-target="#carousel{{ $index }}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon custom-dark-black" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.productName }} | {{product.category}}</h5>
                        <!-- <p class="card-text">{{ product.description }}</p> -->
                        <!-- View Product Modal Button -->
                        <button type="button" class="btn btn-primary" (click)="viewProductDetails(product)"
                            data-bs-toggle="modal" data-bs-target="#viewProductModal">View More...</button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <!-- View Product Modal -->
    <div class="custom-full-screen-modal">
        <div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title text-primary fs-5" id="viewProductModalLabel">Product Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            @if(showViewProductDetails){
                            <div id="carousel-view-product" class="carousel slide">
                                <div class="carousel-inner">
                                    @for (img of productDetails.images; track $index) {
                                    @if ($index === 0) {
                                    <div class="carousel-item active view-prouct-image-container">
                                        <img [src]="img" class="d-block view-prouct-contained-image"
                                            alt="Product Image {{ $index + 1 }}">
                                    </div>
                                    }
                                    @else {
                                    <div class="carousel-item view-prouct-image-container">
                                        <img [src]="img" class="d-block view-prouct-contained-image"
                                            alt="Product Image {{ $index + 1 }}">
                                    </div>
                                    }
                                    }
                                </div>
                                @if (productDetails.images.length > 1) {
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel-view-product" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon custom-dark-black"
                                        aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel-view-product" data-bs-slide="next">
                                    <span class="carousel-control-next-icon custom-dark-black"
                                        aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ productDetails.productName }}</h5>
                                <p class="card-text">{{ productDetails.description }}</p>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>